<div class="wrapper">
    <div class="container">
        <app-flight-header [passengerName]="passengerName" [passengerLastName]="passengerLastName"
            [passengerTitle]="passengerTitle" [bookingCode]="bookingCode"></app-flight-header>
        <hr class="solid" />
        <app-flight-body *ngIf="bookingData" [bookingData]="bookingData"></app-flight-body>
        <hr class="solid" />
        <button class="view-more-details" (click)="showMore()">View flight schedule</button>
        <div *ngIf="showViewMore">
            <app-flight-timeline [flightDuration]="flightDuration" [checkInStartTime]="checkInStartTime"
                [checkInEndTime]="checkInEndTime" [scheduledArrival]="scheduledArrival"
                [scheduledDeparture]="scheduledDeparture"></app-flight-timeline>
        </div>
    </div>
</div>