hr.solid {
  border: 0;
  border-top: 3px solid #01245c;
  margin-top: 20px;
}

.view-more-details {
  border: none;
  background: none;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
  color: #00a1e4;
  text-decoration: underline;
}
