.title-text {
  font-weight: bolder;
  font-size: 36px;
  text-transform: uppercase;
  flex-wrap: wrap;
  color: #01245c;
  text-align: center;
}

.text-area {
  text-align: justify;
  padding: 0 10px;
  color: #01245c;
}
