<div [formGroup]="logonForm" class="form-group">
    <label [for]="name">{{label}}</label>
    <input [id]="name" type="text" [formControlName]="name" [pattern]="patternMatch" (input)="onRemove($event)" />
    <div *ngIf="logonForm.get(name)?.invalid &&
    (logonForm.get(name)?.dirty ||
      logonForm.get(name)?.touched)" class="alert">
        <div *ngIf="logonForm.get(name)?.errors?.['required']">
            {{requiredMessage}}
        </div>
        <div *ngIf="logonForm.get(name)?.errors?.['minlength']">
            {{minMessage}}
        </div>
        <div *ngIf="logonForm.get(name)?.errors?.['maxlength']">
            {{maxMessage}}
        </div>
        <div *ngIf="logonForm.get(name)?.errors?.['pattern']">
            {{patternMessage}}
        </div>
    </div>
</div>